<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dennakidsstudents" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ClassPeriodDetailActivity"
            android:exported="true" />
        <activity
            android:name=".ClassPeriodActivity"
            android:exported="true" />
        <activity android:name=".Student7DetailActivity" />
        <activity android:name=".Period7Activity" />
        <activity android:name=".Student5DetailActivity" />
        <activity android:name=".Period5Activity" />
        <activity
            android:name=".KidDetailActivity"
            android:theme="@style/AppThemePink" />
        <activity
            android:name=".DennaKidActivity"
            android:theme="@style/AppThemePink" />
        <activity android:name=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>